<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="/assets/img/favicon.png" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instalações | Melhor Idade SA</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-fotos.css" rel="stylesheet">
  </head>
  <body>
   <header>
         <div id="menu"></div>
       </header>
       <section class="banner">
         <div id="banner"></div>
       </section>

    <div class="container">
      <div class="row">

    
        <h1>Instalações</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida porttitor quam, convallis auctor odio bibendum ac. Duis luctus pretium posuere. Etiam ex diam, vulputate at magna sed, sodales lacinia arcu. Duis ultricies rhoncus dolor, eu tempor justo eleifend id. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

          <h3>Sentir-se em casa</h3>

          <p>In eget dolor ante. In porttitor turpis ac sapien sagittis, eu mollis erat egestas. Vivamus odio metus, feugiat semper turpis eu, venenatis auctor nulla. Aenean facilisis lacinia ultricies. Vivamus congue lacinia dolor, sed porttitor enim tincidunt ac.</p> 

          <p>Sed interdum, ante eget cursus ullamcorper, erat tortor fringilla est, sit amet venenatis enim magna vitae sapien.</p>

          <h3>Interagir</h3>

          <p>Vestibulum sodales mollis nisi quis volutpat. Donec felis ligula, maximus et elit nec, dignissim tristique felis. Duis auctor enim sed justo viverra, dictum pellentesque ipsum suscipit. Aenean non cursus lacus.</p>

          <p>Integer nec dolor non est auctor sodales quis in ante. Maecenas vel metus a neque tincidunt ullamcorper.</p>

          <p>Morbi sed consequat metus. Suspendisse dignissim mi non porttitor rhoncus. In congue, erat eu posuere bibendum, odio orci ultrices augue, tincidunt rutrum arcu nunc a risus. Sed eget luctus augue, eu rutrum purus. Donec ornare ultrices condimentum. Fusce quis maximus tortor. In tristique massa eget.</p>

      </div>

      <div class="row">&nbsp;</div>

      <div class="row">

        <article class="col-xs-12 col-sm-8 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/assets/img/instalacoes/estrutura.jpg" title="Estrutura" class="zoom" data-title="Instalações Melhor Idade" data-footer="Estrutura" data-type="image" data-toggle="lightbox">
                        <img src="/assets/img/instalacoes/estrutura.jpg" alt="EstruturaEstrutura" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Estrutura Melhor Idade">Estrutura</a></h4>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-8 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/assets/img/instalacoes/sala_jantar.jpg" title="Sala de Jantar" class="zoom" data-title="Sala de Jantar Melhor Idade" data-footer="Sala de Jantar" data-type="image" data-toggle="lightbox">
                        <img src="/assets/img/instalacoes/sala_jantar.jpg" alt="Sala de Jantar" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Sala de Jantar Melhor Idade">Sala de Jantar</a></h4>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-8 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/assets/img/instalacoes/sala_musica.jpg" title="Sala de Música" class="zoom" data-title="Sala de Música Melhor Idade" data-footer="Sala de Música" data-type="image" data-toggle="lightbox">
                        <img src="/assets/img/instalacoes/sala_musica.jpg" alt="Sala de Música" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Sala de Música Melhor Idade">Sala e Música</a></h4>
                </div>
            </div>
        </article>

      </section>

      <section class="row">

        <article class="col-xs-12 col-sm-8 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/assets/img/instalacoes/quarto.jpg" title="Quartos" class="zoom" data-title="Quarto Melhor Idade" data-footer="Quartos" data-type="image" data-toggle="lightbox">
                        <img src="/assets/img/instalacoes/quarto.jpg" alt="Quartos" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Quarto Melhor Idade">Quartos</a></h4>
                </div>
            </div>
        </article>
        <article class="col-xs-12 col-sm-8 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/assets/img/instalacoes/banheiro.jpg" title="Banheiro" class="zoom" data-title="Banheiro Melhor Idade" data-footer="Banheiro" data-type="image" data-toggle="lightbox">
                        <img src="/assets/img/instalacoes/banheiro.jpg" alt="Banheiro" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Banheiro Melhor Idade">Banheiro</a></h4>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-8 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/assets/img/instalacoes/jardim.jpg" title="Jardim" class="zoom" data-title="Jardim Melhor Idade" data-footer="Jardim" data-type="image" data-toggle="lightbox">
                        <img src="/assets/img/instalacoes/jardim.jpg" alt="Jardim" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Jardim Melhor Idade">Jardim</a></h4>
                </div>
            </div>
        </article>
        

      </div>

    </div>
    <footer>
      <div id="footer"></div>
    </footer>

   <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>
   <!-- APP JS -->
   <script src="/assets/js/index.js"></script>
   <script src="/assets/js/modulos.js"></script>
   <script src="/assets/app/js/fotos.js"></script>
 </body>
</html>
