<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
   <link id="page_favicon" href="/assets/img/favicon.png" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Serviços | Melhor Idade SA</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/app/css/servicos/servicos.css" rel="stylesheet">
  </head>

  <body>
      <header>
          <div id="menu"></div>
      </header>

    <!--Slider -->

    <section class="banner">
         <div id="banner"></div>
    </section>

    <h1>Serviços</h1>

   <!--Primeiro bloco de imagens-->
   <div class="carrosel-servicos">
     <div class="col-xs-6 col-sm-4">
       <a href="#" class="thumbnail">
         <img src="/assets/img/servicos/atividadefisicaseLazer.jpg" alt="...">
          <p>Atividades Fisica</p>
       </a>
     </div>

     <div class="col-xs-6 col-sm-4">
       <a href="#" class="thumbnail">
         <img src="/assets/img/servicos/cuidadocomaalimentação.jpg" alt="...">
          <p>Alimentação Especial</p>
       </a>
     </div>

     <div class="col-xs-6 col-sm-4">
       <a href="#" class="thumbnail">
         <img src="/assets/img/servicos/cuidadocomapele.jpg" alt="...">
          <p>Cuidado com a pele</p>
       </a>
     </div>
   </div>

   <!--Segundo bloco de imagens-->
   <div class="carrosel-servicos">
     <div class="col-xs-6 col-sm-4">
       <a href="#" class="thumbnail">
         <img src="/assets/img/servicos/cuidadocomasaude.jpg" alt="...">
          <p>Cuidados com a Saùde</p>
       </a>
     </div>

     <div class="col-xs-6 col-sm-4">
       <a href="#" class="thumbnail">
         <img src="/assets/img/servicos/lazer.jpg" alt="...">
          <p>Lazer</p>
       </a>
     </div>

     <div class="col-xs-6 col-sm-4">
       <a href="#" class="thumbnail">
         <img src="/assets/img/servicos/transporteespecializado.jpg" alt="...">
          <P>Transportes Especializado</P>
       </a>
     </div>
   </div>
    <!-- Footer -->
        <footer>
            <div id="footer"></div>
         </footer>
     <!-- Footer -->
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- APP JS -->
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/modulos.js"></script>
 </body>
</html>
