
  <!-- COPYRIGHT -->
  <div class="footer-copyright col-xs-12 col-ms-12 col-md-12 col-lg-12">
    <div class="text-center">&copy <span id='year'></span> - Melhor Idade S.A. Todos os Direitos Reservados</div>
  </div>
  <!-- END COPYRIGHT -->

