<!-- Header -->
<div class="navbar-wrapper">
<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin/">Melhor Idade SA</a>
            </div>
        </div>
    </nav>
</div>
</div>
<!-- Fim do Header -->