<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Melhor Idade SA</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/noticias.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div id="menu"></div>
    </header>
    <section class="banner">
      <div id="banner"></div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/assets/img/img-lorem-noticias.jpg" alt="Img Noticias" />
            <div class="caption">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor</p>
              <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal">Saiba mais</a></p>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Lorem ipsum dolor sit amet</h4>
                  </div>
                  <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor. Vivamus nec neque hendrerit, porttitor justo quis, bibendum lacus. Donec placerat, ipsum consequat mollis sagittis, mi neque convallis libero, vitae sodales ex libero quis risus. </p>

                    <p>Suspendisse potenti. Vivamus blandit massa ut lorem imperdiet, a accumsan lectus porttitor. Suspendisse potenti. Quisque vitae elit id nunc aliquet iaculis. Ut quis diam sit amet risus vulputate aliquet quis sit amet justo. Aliquam blandit iaculis nunc id consectetur. Sed eu consequat erat. Vestibulum accumsan tincidunt erat ut dapibus. Praesent laoreet commodo augue quis rutrum.</p>

                    <p>Mauris id lectus vitae nisi lacinia dapibus. Integer dictum sit amet augue non tempor. Pellentesque nibh turpis, aliquet quis efficitur et, facilisis et ante. Duis tempor elit id mattis efficitur. In quis congue dui. Vivamus egestas, ligula a tempor venenatis, nulla arcu aliquam leo, vitae porttitor tortor risus quis mi. Phasellus quis nunc quis nisi imperdiet gravida id eget leo. Morbi porttitor varius dui quis interdum. Cras malesuada orci a odio euismod mollis. Proin pulvinar turpis quis sem rhoncus malesuada.</p>

                    <p>Phasellus in bibendum nibh. Donec imperdiet placerat tortor, at efficitur nulla. Nulla facilisi. Mauris rutrum, ex sit amet sodales blandit, lectus enim lacinia est, et volutpat lorem lectus eu odio. Proin auctor nibh eu nisi ultricies, sed faucibus enim suscipit. Vivamus quis consectetur enim, malesuada euismod mi. Cras tristique maximus nisi at consectetur. Pellentesque risus nulla, tempus id convallis at, vehicula nec metus. Nullam egestas scelerisque porta. Ut est sapien, tincidunt quis augue sed, pulvinar aliquet ligula. Vestibulum at ornare velit. Sed facilisis porta nulla quis semper. Maecenas fermentum ante eros, eu semper justo faucibus nec. </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-target=".bs-example-modal-lg">Fechar</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/assets/img/img-lorem-noticias.jpg" alt="Img Noticias" />
            <div class="caption">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor</p>
              <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal">Saiba mais</a></p>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Lorem ipsum dolor sit amet</h4>
                  </div>
                  <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor. Vivamus nec neque hendrerit, porttitor justo quis, bibendum lacus. Donec placerat, ipsum consequat mollis sagittis, mi neque convallis libero, vitae sodales ex libero quis risus. </p>

                    <p>Suspendisse potenti. Vivamus blandit massa ut lorem imperdiet, a accumsan lectus porttitor. Suspendisse potenti. Quisque vitae elit id nunc aliquet iaculis. Ut quis diam sit amet risus vulputate aliquet quis sit amet justo. Aliquam blandit iaculis nunc id consectetur. Sed eu consequat erat. Vestibulum accumsan tincidunt erat ut dapibus. Praesent laoreet commodo augue quis rutrum.</p>

                    <p>Mauris id lectus vitae nisi lacinia dapibus. Integer dictum sit amet augue non tempor. Pellentesque nibh turpis, aliquet quis efficitur et, facilisis et ante. Duis tempor elit id mattis efficitur. In quis congue dui. Vivamus egestas, ligula a tempor venenatis, nulla arcu aliquam leo, vitae porttitor tortor risus quis mi. Phasellus quis nunc quis nisi imperdiet gravida id eget leo. Morbi porttitor varius dui quis interdum. Cras malesuada orci a odio euismod mollis. Proin pulvinar turpis quis sem rhoncus malesuada.</p>

                    <p>Phasellus in bibendum nibh. Donec imperdiet placerat tortor, at efficitur nulla. Nulla facilisi. Mauris rutrum, ex sit amet sodales blandit, lectus enim lacinia est, et volutpat lorem lectus eu odio. Proin auctor nibh eu nisi ultricies, sed faucibus enim suscipit. Vivamus quis consectetur enim, malesuada euismod mi. Cras tristique maximus nisi at consectetur. Pellentesque risus nulla, tempus id convallis at, vehicula nec metus. Nullam egestas scelerisque porta. Ut est sapien, tincidunt quis augue sed, pulvinar aliquet ligula. Vestibulum at ornare velit. Sed facilisis porta nulla quis semper. Maecenas fermentum ante eros, eu semper justo faucibus nec. </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-target=".bs-example-modal-lg">Fechar</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/assets/img/img-lorem-noticias.jpg" alt="Img Noticias" />
            <div class="caption">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor</p>
              <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal">Saiba mais</a></p>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Lorem ipsum dolor sit amet</h4>
                  </div>
                  <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor. Vivamus nec neque hendrerit, porttitor justo quis, bibendum lacus. Donec placerat, ipsum consequat mollis sagittis, mi neque convallis libero, vitae sodales ex libero quis risus. </p>

                    <p>Suspendisse potenti. Vivamus blandit massa ut lorem imperdiet, a accumsan lectus porttitor. Suspendisse potenti. Quisque vitae elit id nunc aliquet iaculis. Ut quis diam sit amet risus vulputate aliquet quis sit amet justo. Aliquam blandit iaculis nunc id consectetur. Sed eu consequat erat. Vestibulum accumsan tincidunt erat ut dapibus. Praesent laoreet commodo augue quis rutrum.</p>

                    <p>Mauris id lectus vitae nisi lacinia dapibus. Integer dictum sit amet augue non tempor. Pellentesque nibh turpis, aliquet quis efficitur et, facilisis et ante. Duis tempor elit id mattis efficitur. In quis congue dui. Vivamus egestas, ligula a tempor venenatis, nulla arcu aliquam leo, vitae porttitor tortor risus quis mi. Phasellus quis nunc quis nisi imperdiet gravida id eget leo. Morbi porttitor varius dui quis interdum. Cras malesuada orci a odio euismod mollis. Proin pulvinar turpis quis sem rhoncus malesuada.</p>

                    <p>Phasellus in bibendum nibh. Donec imperdiet placerat tortor, at efficitur nulla. Nulla facilisi. Mauris rutrum, ex sit amet sodales blandit, lectus enim lacinia est, et volutpat lorem lectus eu odio. Proin auctor nibh eu nisi ultricies, sed faucibus enim suscipit. Vivamus quis consectetur enim, malesuada euismod mi. Cras tristique maximus nisi at consectetur. Pellentesque risus nulla, tempus id convallis at, vehicula nec metus. Nullam egestas scelerisque porta. Ut est sapien, tincidunt quis augue sed, pulvinar aliquet ligula. Vestibulum at ornare velit. Sed facilisis porta nulla quis semper. Maecenas fermentum ante eros, eu semper justo faucibus nec. </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-target=".bs-example-modal-lg">Fechar</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/assets/img/img-lorem-noticias.jpg" alt="Img Noticias" />
            <div class="caption">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor</p>
              <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal">Saiba mais</a></p>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Lorem ipsum dolor sit amet</h4>
                  </div>
                  <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor. Vivamus nec neque hendrerit, porttitor justo quis, bibendum lacus. Donec placerat, ipsum consequat mollis sagittis, mi neque convallis libero, vitae sodales ex libero quis risus. </p>

                    <p>Suspendisse potenti. Vivamus blandit massa ut lorem imperdiet, a accumsan lectus porttitor. Suspendisse potenti. Quisque vitae elit id nunc aliquet iaculis. Ut quis diam sit amet risus vulputate aliquet quis sit amet justo. Aliquam blandit iaculis nunc id consectetur. Sed eu consequat erat. Vestibulum accumsan tincidunt erat ut dapibus. Praesent laoreet commodo augue quis rutrum.</p>

                    <p>Mauris id lectus vitae nisi lacinia dapibus. Integer dictum sit amet augue non tempor. Pellentesque nibh turpis, aliquet quis efficitur et, facilisis et ante. Duis tempor elit id mattis efficitur. In quis congue dui. Vivamus egestas, ligula a tempor venenatis, nulla arcu aliquam leo, vitae porttitor tortor risus quis mi. Phasellus quis nunc quis nisi imperdiet gravida id eget leo. Morbi porttitor varius dui quis interdum. Cras malesuada orci a odio euismod mollis. Proin pulvinar turpis quis sem rhoncus malesuada.</p>

                    <p>Phasellus in bibendum nibh. Donec imperdiet placerat tortor, at efficitur nulla. Nulla facilisi. Mauris rutrum, ex sit amet sodales blandit, lectus enim lacinia est, et volutpat lorem lectus eu odio. Proin auctor nibh eu nisi ultricies, sed faucibus enim suscipit. Vivamus quis consectetur enim, malesuada euismod mi. Cras tristique maximus nisi at consectetur. Pellentesque risus nulla, tempus id convallis at, vehicula nec metus. Nullam egestas scelerisque porta. Ut est sapien, tincidunt quis augue sed, pulvinar aliquet ligula. Vestibulum at ornare velit. Sed facilisis porta nulla quis semper. Maecenas fermentum ante eros, eu semper justo faucibus nec. </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-target=".bs-example-modal-lg">Fechar</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/assets/img/img-lorem-noticias.jpg" alt="Img Noticias" />
            <div class="caption">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor</p>
              <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal">Saiba mais</a></p>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Lorem ipsum dolor sit amet</h4>
                  </div>
                  <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor. Vivamus nec neque hendrerit, porttitor justo quis, bibendum lacus. Donec placerat, ipsum consequat mollis sagittis, mi neque convallis libero, vitae sodales ex libero quis risus. </p>

                    <p>Suspendisse potenti. Vivamus blandit massa ut lorem imperdiet, a accumsan lectus porttitor. Suspendisse potenti. Quisque vitae elit id nunc aliquet iaculis. Ut quis diam sit amet risus vulputate aliquet quis sit amet justo. Aliquam blandit iaculis nunc id consectetur. Sed eu consequat erat. Vestibulum accumsan tincidunt erat ut dapibus. Praesent laoreet commodo augue quis rutrum.</p>

                    <p>Mauris id lectus vitae nisi lacinia dapibus. Integer dictum sit amet augue non tempor. Pellentesque nibh turpis, aliquet quis efficitur et, facilisis et ante. Duis tempor elit id mattis efficitur. In quis congue dui. Vivamus egestas, ligula a tempor venenatis, nulla arcu aliquam leo, vitae porttitor tortor risus quis mi. Phasellus quis nunc quis nisi imperdiet gravida id eget leo. Morbi porttitor varius dui quis interdum. Cras malesuada orci a odio euismod mollis. Proin pulvinar turpis quis sem rhoncus malesuada.</p>

                    <p>Phasellus in bibendum nibh. Donec imperdiet placerat tortor, at efficitur nulla. Nulla facilisi. Mauris rutrum, ex sit amet sodales blandit, lectus enim lacinia est, et volutpat lorem lectus eu odio. Proin auctor nibh eu nisi ultricies, sed faucibus enim suscipit. Vivamus quis consectetur enim, malesuada euismod mi. Cras tristique maximus nisi at consectetur. Pellentesque risus nulla, tempus id convallis at, vehicula nec metus. Nullam egestas scelerisque porta. Ut est sapien, tincidunt quis augue sed, pulvinar aliquet ligula. Vestibulum at ornare velit. Sed facilisis porta nulla quis semper. Maecenas fermentum ante eros, eu semper justo faucibus nec. </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-target=".bs-example-modal-lg">Fechar</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/assets/img/img-lorem-noticias.jpg" alt="Img Noticias" />
            <div class="caption">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor</p>
              <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal">Saiba mais</a></p>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Lorem ipsum dolor sit amet</h4>
                  </div>
                  <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae diam tempor, ullamcorper leo at, feugiat nisi. Pellentesque feugiat maximus magna, vel aliquet ex euismod et. Aliquam accumsan tristique nisl nec auctor. Vivamus nec neque hendrerit, porttitor justo quis, bibendum lacus. Donec placerat, ipsum consequat mollis sagittis, mi neque convallis libero, vitae sodales ex libero quis risus. </p>

                    <p>Suspendisse potenti. Vivamus blandit massa ut lorem imperdiet, a accumsan lectus porttitor. Suspendisse potenti. Quisque vitae elit id nunc aliquet iaculis. Ut quis diam sit amet risus vulputate aliquet quis sit amet justo. Aliquam blandit iaculis nunc id consectetur. Sed eu consequat erat. Vestibulum accumsan tincidunt erat ut dapibus. Praesent laoreet commodo augue quis rutrum.</p>

                    <p>Mauris id lectus vitae nisi lacinia dapibus. Integer dictum sit amet augue non tempor. Pellentesque nibh turpis, aliquet quis efficitur et, facilisis et ante. Duis tempor elit id mattis efficitur. In quis congue dui. Vivamus egestas, ligula a tempor venenatis, nulla arcu aliquam leo, vitae porttitor tortor risus quis mi. Phasellus quis nunc quis nisi imperdiet gravida id eget leo. Morbi porttitor varius dui quis interdum. Cras malesuada orci a odio euismod mollis. Proin pulvinar turpis quis sem rhoncus malesuada.</p>

                    <p>Phasellus in bibendum nibh. Donec imperdiet placerat tortor, at efficitur nulla. Nulla facilisi. Mauris rutrum, ex sit amet sodales blandit, lectus enim lacinia est, et volutpat lorem lectus eu odio. Proin auctor nibh eu nisi ultricies, sed faucibus enim suscipit. Vivamus quis consectetur enim, malesuada euismod mi. Cras tristique maximus nisi at consectetur. Pellentesque risus nulla, tempus id convallis at, vehicula nec metus. Nullam egestas scelerisque porta. Ut est sapien, tincidunt quis augue sed, pulvinar aliquet ligula. Vestibulum at ornare velit. Sed facilisis porta nulla quis semper. Maecenas fermentum ante eros, eu semper justo faucibus nec. </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-target=".bs-example-modal-lg">Fechar</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div id="footer"></div>
    </footer>

   <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
   <script src="/assets/js/index.js"></script>
   <script src="/assets/js/modulos.js"></script>
 </body>
</html>
