<!-- FOOTER -->
<footer>
  <!-- LINKS -->
  <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 footer-links">
    <div class="col-xs-2 col-ms-2 col-md-2 col-lg-2">&nbsp;</div>

    <div class="col-xs-2 col-ms-2 col-md-2 col-lg-2 text-left">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Quem somos</a></li>
        <li><a href="#">Servi&ccedil;os</a></li>
      </ul>
    </div>

    <div class="col-xs-2 col-ms-2 col-md-2 col-lg-2 text-left">
      <ul>
        <li><a href="#">Equipe</a></li>
        <li><a href="#">Instala&ccedil;&otilde;es</a></li>
        <li><a href="#">Not&iacute;cias</a></li>
      </ul>
    </div>

    <div class="col-xs-2 col-ms-2 col-md-2 col-lg-2 text-left">
      <ul>
        <li><a href="#">Fotos</a></li>
        <li><a href="#">D&uacute;vidas</a></li>
        <li><a href="#">Localiza&ccedil;&atilde;o</a></li>
      </ul>
    </div>

    <div class="col-xs-2 col-ms-2 col-md-2 col-lg-2 text-left">
      <ul>Produtos<br>
        <li><a href="#">Cadeira de Rodas</a></li>
        <li><a href="#">Bengalas</a></li>
      </ul>
    </div>

    <div class="col-xs-2 col-ms-2 col-md-2 col-lg-2">&nbsp;</div>

  </div>
  <!-- END LINKS -->

  <!-- DETAILS COMPANY -->
  <div class="footer-details col-xs-12 col-ms-12 col-md-12 col-lg-12">
  
    <div class="col-xs-4 col-ms-4 col-md-4 col-lg-4 text-center">
      <div class="text-center">
        <a href="https://www.google.com.br/maps/place/Av.+Paulista,+S%C3%A3o+Paulo+-+SP/@-23.5632188,-46.6564483,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce59c8da0aa315:0xd59f9431f2c9776a!8m2!3d-23.5632188!4d-46.6542596" target="_blank">
          <img src="/assets/img/map25-redish.png">
        </a>
      </div>
      Lorem ipsum dolor sit amet, 0000 - Cras Felis Sapien, Cras Tempus - Donec posuere, 00000-000
    </div>
  
    <div class="col-xs-4 col-ms-4 col-md-4 col-lg-4 text-center">
      <div class="text-center">
        <a href="mailto:loremipsum@loremipsum.sit.amet"><img src="/assets/img/envelope4-green.png"></a>
      </div>
      loremipsum@loremipsum.sit.amet
    </div>
  
    <div class="col-xs-4 col-ms-4 col-md-4 col-lg-4 text-center">
      <div class="text-center">
        <img src="/assets/img/telephone65-blue.png">
      </div>
      (00) 0000-0000
    </div>
  
  </div> 
  <!-- / END DETAILS COMPANY -->

  <!-- COPYRIGHT -->
  <div class="footer-copyright col-xs-12 col-ms-12 col-md-12 col-lg-12">
    <div class="text-center">&copy <span id='year'></span> - Melhor Idade S.A. Todos os Direitos Reservados</div>
  </div>
  <!-- END COPYRIGHT -->

</footer>
<!-- END FOOTER -->