<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Melhor Idade SA - Dúvidas </title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>

    </header>
    <section class="banner">

    </section>

<div class ="row">
</div>

      <div class="jumbotron text-center">
        <h1>Seção de Dúvidas - Portal da Melhor Idade</h1>
        <p>Antes de encaminhar suas questões para nós verifique se já existe solução em nosso FAQ abaixo</p>
      </div>
<hr>
<form class="form-horizontal">
<fieldset>

<!-- Area do formulario  -->
<legend>Fale Conosco</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Nome (*)</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" placeholder="Coloque seu nome" class="form-control input-md" required="" type="text">
  <span class="help-block">Digite seu nome completo Ex: José da Silva</span>  
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txt_email">E-mail (*)</label>  
  <div class="col-md-4">
  <input id="txt_email" name="txt_email" placeholder="digite seu e-mail" class="form-control input-md" required="" type="text">
  <span class="help-block">Ex: seunome@seuprovedor.com</span>  
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Assunto</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Dúvida</option>
      <option value="2">Sugestão</option>
      <option value="3">Reclamação</option>
    </select>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Descrição</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="textarea">Escreva aqui seu relato que em breve retornaremos seu contato</textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btn-envia-contato"></label>
  <div class="col-md-4">
    <button id="btn-envia-contato" name="btn-envia-contato" class="btn btn-primary">Enviar</button>
  </div>
</div>

</fieldset>
</form>


</div>

    <footer>

    </footer>

   <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
   
   <script src="assets/js/index.js"></script>

 </body>
</html>
