<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Melhor Idade SA - Dúvidas </title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/style.css" rel="stylesheet">
<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>


  </head>
  <body>
    


  <!-- Início da BARRADENAVEGACAO -->
   <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">

              <a class="navbar-brand" href="#">Melhor Idade</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>                
                <li><a href="/quemsomos">Quem somos</a></li>
                <li><a href="/servicos">Serviços</a></li>
                <li><a href="/equipe">Equipe</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li><a href="/fotos">Fotos</a></li>
                <li class="active"><a href="#">Dúvidas</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produtos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/cadeiraderodas">Cadeira de Rodas</a></li>
                      <li><a href="/bengalas">Bengalas</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
  <!-- Fim da BARRADENAVEGACAO -->


 

<section class="banner">

</section>



<div class ="row">
</div>

      <div class="jumbotron text-center">
        <h1>Seção de Dúvidas - Portal da Melhor Idade</h1>
        <p>Antes de encaminhar suas questões para nós verifique se já existe solução em nosso FAQ abaixo</p>
      </div>
<hr>
<form class="form-horizontal">
<fieldset>

<div class="text-center">

<div class="container">
    <br />
    <br />
    <br />

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Essa seção contém as dúvidas mais comuns de nossos usuários do <strong>Portal Melhor Idade</strong>. Se sua questão não estiver relacionada abaixo, por gentileza nos contatar! 
    </div>

    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Account registration at <strong>PrepBootstrap</strong> is only required if you will be selling or buying themes. 
                    This ensures a valid communication channel for all parties involved in any transactions. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Can I submit my own Bootstrap templates or themes?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    A lot of the content of the site has been submitted by the community. Whether it is a commercial element/template/theme 
                    or a free one, you are encouraged to contribute. All credits are published along with the resources. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What is the currency used for all transactions?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    All prices for themes, templates and other items, including each seller's or buyer's account balance are in <strong>USD</strong>
                </div>
            </div>
        </div>

        <div class="faqHeader">Sellers</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Who cen sell items?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Any registed user, who presents a work, which is genuine and appealing, can post it on <strong>PrepBootstrap</strong>.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">I want to sell my items - what are the steps?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    The steps involved in this process are really simple. All you need to do is:
                    <ul>
                        <li>Register an account</li>
                        <li>Activate your account</li>
                        <li>Go to the <strong>Themes</strong> section and upload your theme</li>
                        <li>The next step is the approval step, which usually takes about 72 hours.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How much do I get from each sale?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    Here, at <strong>PrepBootstrap</strong>, we offer a great, 70% rate for each seller, regardless of any restrictions, such as volume, date of entry, etc.
                    <br />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Why sell my items here?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    There are a number of reasons why you should join us:
                    <ul>
                        <li>A great 70% flat rate for your items.</li>
                        <li>Fast response/approval times. Many sites take weeks to process a theme or template. And if it gets rejected, there is another iteration. We have aliminated this, and made the process very fast. It only takes up to 72 hours for a template/theme to get reviewed.</li>
                        <li>We are not an exclusive marketplace. This means that you can sell your items on <strong>PrepBootstrap</strong>, as well as on any other marketplate, and thus increase your earning potential.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What are the payment options?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    The best way to transfer funds is via Paypal. This secure platform ensures timely payments and a secure environment. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">When do I get paid?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    Our standard payment plan provides for monthly payments. At the end of each month, all accumulated funds are transfered to your account. 
                    The minimum amount of your balance should be at least 70 USD. 
                </div>
            </div>
        </div>

        <div class="faqHeader">Buyers</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">I want to buy a theme - what are the steps?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    Buying a theme on <strong>PrepBootstrap</strong> is really simple. Each theme has a live preview. 
                    Once you have selected a theme or template, which is to your liking, you can quickly and securely pay via Paypal.
                    <br />
                    Once the transaction is complete, you gain full access to the purchased product. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Is this the latest version of an item</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    Each item in <strong>PrepBootstrap</strong> is maintained to its latest version. This ensures its smooth operation.
                </div>
            </div>
        </div>
    </div>
</div>



<h2> <legend>Perguntas Frequentes</legend> </h2>
</div>



<!-- Area do formulario  -->
<div class="text-center">
<h2> <legend>Fale Conosco</legend> </h2>
</div>



<!-- Text input-->
<div class="form-group">

  <label class="col-md-4 control-label" for="textinput">Nome (*)</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" placeholder="Coloque seu nome" class="form-control input-md" required="" type="text">
  <span class="help-block">Digite seu nome completo Ex: José da Silva</span>  
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txt_email">E-mail (*)</label>  
  <div class="col-md-4">
  <input id="txt_email" name="txt_email" placeholder="digite seu e-mail" class="form-control input-md" required="" type="text">
  <span class="help-block">Ex: seunome@seuprovedor.com</span>  
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Assunto</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Dúvida</option>
      <option value="2">Sugestão</option>
      <option value="3">Reclamação</option>
    </select>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Descrição</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="textarea">Escreva aqui seu relato que em breve retornaremos seu contato</textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btn-envia-contato"></label>
  <div class="col-md-4">
    <button id="btn-envia-contato" name="btn-envia-contato" class="btn btn-primary">Enviar</button>
  </div>
</div>

</fieldset>
</form>


</div>


<!-- FOOTER -->
<footer>
  <!-- LINKS -->
  <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 footer-links">
    
  <!-- DETAILS COMPANY -->
  <div class="footer-details col-xs-12 col-ms-12 col-md-12 col-lg-12">

    <div class="col-xs-4 col-ms-4 col-md-4 col-lg-4 text-center">
      <div class="text-center">
        <a href="https://www.google.com.br/maps/place/Av.+Paulista,+S%C3%A3o+Paulo+-+SP/@-23.5632188,-46.6564483,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce59c8da0aa315:0xd59f9431f2c9776a!8m2!3d-23.5632188!4d-46.6542596" target="_blank">
          <img src="../../../assets/img/map25-redish.png">
        </a>
      </div>
      Lorem ipsum dolor sit amet, 0000 - Cras Felis Sapien, Cras Tempus - Donec posuere, 00000-000
    </div>

    <div class="col-xs-4 col-ms-4 col-md-4 col-lg-4 text-center">
      <div class="text-center">
        <a href="mailto:loremipsum@loremipsum.sit.amet"><img src="../../../assets/img/envelope4-green.png"></a>
      </div>
      loremipsum@loremipsum.sit.amet
    </div>

    <div class="col-xs-4 col-ms-4 col-md-4 col-lg-4 text-center">
      <div class="text-center">
        <img src="../../../assets/img/telephone65-blue.png">
      </div>
      (00) 0000-0000
    </div>

  </div>
  <!-- / END DETAILS COMPANY -->

  <!-- COPYRIGHT -->
  <div class="footer-copyright col-xs-12 col-ms-12 col-md-12 col-lg-12">
    <div class="text-center">&copy <span id='year'></span> - Melhor Idade S.A. Todos os Direitos Reservados</div>
  </div>
  <!-- END COPYRIGHT -->
</footer>
<!-- END FOOTER -->


  <!-- Placed at the end of the document so the pages load faster -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
   <script src="assets/js/BuscaEndereco.js"></script>
   <script src="assets/js/index.js"></script>

 </body>
</html>
