<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Melhor Idade SA</title>
    <link href="assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>

    </header>
    <section class="banner">

    </section>

    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="..." alt="...">
          </a>
        </div>
    </div>
        <h1>teste instalacoes</h1>

          <p> A Casa de Repouso Melhor idade é uma casa de repouso em Sao paulo e possui uma área de 1000m², cuidadosamente construída com base nas necessidades dos idosos, com todas as adaptações necessárias para sua segurança, além da área verde e dos espaços decorados com muito requinte e bom gosto.</p>

          <p>Sentir-se em casa</p>

          <p>Na Casa de repouso Melhor Idade o ambiente é aconchegante, familiar e informal.</p>  

          <p>Viver bem também é sentir-se feliz e à vontade dentro de casa.</p> 

          <p>Na Casa de repouso Melhor Idade em nada lembra o ambiente impessoal e frio de um hotel, hospital ou asilo.</p>

          <p>Interagir</p>

          <p>As pessoas precisam interagir e conviver. Na Casa de repouso Melhor Idade existem diversos espaços de lazer, internos e externos, que estimulam a conversa e o relacionamento entre as pessoas.</p>

          <p>As plantas tornam o ambiente muito agradável para caminhadas e banhos de sol.</p>

          <p>Nestes espaços são realizadas diversas atividades de lazer e entretenimento. Sempre sob o zêlo e carinho de nossas cuidadoras(es)</p>
          </p>
         



      </div>
    </div>

    <footer>

    </footer>

   <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
   <script src="assets/js/BuscaEndereco.js"></script>
   <script src="assets/js/index.js"></script>
 </body>
</html>
