<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equipe - Melhor Idade SA</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- APP STYLE -->

    <link href="/assets/css/home.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
  <!-- Menu -->
  <div class="navbar-wrapper">
  <div class="container">

      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <a class="navbar-brand" href="/">Melhor Idade SA</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="/">Home</a></li>
                      <li><a href="/quemsomos">Quem somos</a></li>
                      <li><a href="/servicos">Serviços</a></li>
                      <li><a href="/equipe">Equipe</a></li>
                      <li><a href="/blog">Blog</a></li>
                      <li><a href="/noticias">Noticias</a></li>
                      <li><a href="/fotos">Fotos</a></li>
                      <li><a href="/duvidas">Dúvidas</a></li>
                      <li class="dropdown">
                          <a href="/produtos" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produtos<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="/cadeiraderodas">Cadeira de Rodas</a></li>
                              <li><a href="/bengalas">Bengalas</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
  </div>
  </div>
  <!-- Fim do Menu -->


  <h1>Home</h1>



   <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
   <script src="/assets/js/index.js"></script>
 </body>
</html>
