<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Melhor Idade SA</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- APP STYLE -->

    <link href="/assets/app/css/home.css" rel="stylesheet">
    <link href="/assets/app/css/style.css" rel="stylesheet">
</head>
<body>


  <h1></h1>

  <!--Inicio Conteudo -->

  <div class="row mt">
	   <div class="col-lg-4 col-lg-offset-4 centered">
  			<h3>Home</h3>
  			<hr>
  		</div>
	</div>


  <div class="row mt">
	    		<div class="col-lg-3">
	    			<p class="capitalize">1</p>
	    			<h4>Brief</h4>
	    			<p>Built for all levels of expertise, whether you need simple pages or complex ones, creating something incredible with Marco is an effortless and intuitive process.</p>
	    		</div>
	    		<div class="col-lg-3">
	    			<p class="capitalize">2</p>
	    			<h4>Analysis</h4>
	    			<p>We’ve taken great care to ensure that Marco is fully retina-ready. So it’ll look good on any retina display. We use retina.js to ensure the best view.</p>
	    		</div>
	    		<div class="col-lg-3">
	    			<p class="capitalize">3</p>
	    			<h4>Planning</h4>
	    			<p>Marco fits any device handsomely. We tested our theme in major devices and browsers. Check it out and test it before buy it on responsinator.com.</p>
	    		</div>

	    		<div class="col-lg-3">
	    			<p class="capitalize">4</p>
	    			<h4>Execution</h4>
	    			<p>Good looking animations are an essential part of the new theme design trend. We add animations.css, a cool script to help you enhance your site with style.</p>
	    		</div>
	    	</div>

  <!--Inicio Conteudo -->



   <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
   <script src="/assets/js/index.js"></script>
 </body>
</html>
