<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Melhor Idade Sa</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/app/css/home.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div id="menu"></div>
    </header>
    <section class="banner">
      <div id="banner"></div>
    </section>

    <h1>Home</h1>

    <div class="container marketing">

  <!-- row - Três colunas -->
<div class="row">
  <div class="col-lg-4"><!-- /.col-lg-4 -->


    <h2>Lorem Ipsum</h2>
    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
    <!-- Small modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Saiba mais</button>

      <div class="modal fade bs-example-modal-sm" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Lorem Ipsum</h4>
              </div>
              <div class="modal-body">
                <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
              </div>
            </div>
        </div>
      </div>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4"><!-- /.col-lg-4 -->
    <h2>Lorem Ipsum</h2>
    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
    <!-- Small modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Saiba mais</button>

      <div class="modal fade bs-example-modal-sm" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Lorem Ipsum</h4>
              </div>
              <div class="modal-body">
                <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
              </div>
            </div>
        </div>
      </div>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4"><!-- /.col-lg-4 -->
    <h2>Lorem Ipsum</h2>
    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
    <!-- Small modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Saiba mais</button>

      <div class="modal fade bs-example-modal-sm" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Lorem Ipsum</h4>
              </div>
              <div class="modal-body">
                <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
              </div>
            </div>
        </div>
      </div>
  </div><!-- /.col-lg-4 -->
</div><!-- Fim Três Colunas -->





    </div>

<!-- FOOTER -->
<footer>
  <div id="footer_home"></div>
</footer>
<!-- END FOOTER -->

   <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
   <script src="/assets/js/BuscaEndereco.js"></script>
   <script src="/assets/js/index.js"></script>
   <script src="/assets/js/modulos.js"></script>
 </body>
</html>
