<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="/assets/img/favicon.png" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog | Melhor Idade SA</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
    <div id="menu"></div>
    </header>
    <section class="banner">
    <div id="banner"></div>
    </section>
		 <div class="container">
		  <div class="row">
		 	 <h1>Blog</h1>
		  </div>
			 <div class="row">
				  <div class="col-xs-12 col-md-8">
					  	<div class="row"> 
						  	<div class="col-sm-6 col-md-4"> 
						  		<div class="thumbnail"> 
							  		<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/1-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;">
							  		<div class="caption"> 
							  			<h3>Thumbnail label</h3> 
						  				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						  				</p> 
						  				<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm1">Saiba Mais</button></p> 
							  		</div> 
						  		</div> 
						  	</div> 
						  	<div class="col-sm-6 col-md-4"> 
						  		<div class="thumbnail"> 
							  		<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/2-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;">
							  		<div class="caption"> 
							  			<h3>Thumbnail label</h3> 
						  				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						  				</p> 
						  				<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm2">Saiba Mais</button></p> 
							  		</div> 
						  		</div> 
						  	</div> 
						  	<div class="col-sm-6 col-md-4"> 
						  		<div class="thumbnail"> 
							  		<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/3-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;">
							  		<div class="caption"> 
							  			<h3>Thumbnail label</h3> 
						  				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						  				</p> 
						  				<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm3">Saiba Mais</button></p> 
							  		</div> 
						  		</div> 
						  	</div> 
						</div>
						<div class="row"> 
							<div class="col-sm-6 col-md-4"> 
						  		<div class="thumbnail"> 
							  		<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/4-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;">
							  		<div class="caption"> 
							  			<h3>Thumbnail label</h3> 
						  				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						  				</p> 
						  				<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm4">Saiba Mais</button></p> 
							  		</div> 
						  		</div> 
						  	</div> 
						  	<div class="col-sm-6 col-md-4"> 
						  		<div class="thumbnail"> 
							  		<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/5-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;">
							  		<div class="caption"> 
							  			<h3>Thumbnail label</h3> 
						  				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						  				</p> 
						  				<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm5">Saiba Mais</button></p> 
							  		</div> 
						  		</div> 
						  	</div>
						  	<div class="col-sm-6 col-md-4"> 
						  		<div class="thumbnail"> 
							  		<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/6-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;">
							  		<div class="caption"> 
							  			<h3>Thumbnail label</h3> 
						  				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						  				</p> 
						  				<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm6">Saiba Mais</button></p> 
							  		</div> 
						  		</div> 
						  	</div>  
					    </div>
			 	 </div>
				 <div class="col-xs-6 col-md-4">
					  <div class="sidebar">
						  	<div class="row"> 
							  	 <form class="navbar-form form-blog navbar-left" role="search">
									  <div class="form-group">
									    <input type="text" class="form-control" placeholder="Search">
									  </div>
									  <button type="submit" class="btn btn-default">Submit</button>
								</form>
							</div>	
							<div class="row">
							  	<ul class="list-group">
								  <li class="list-group-item">Cras justo odio</li>
								  <li class="list-group-item">Dapibus ac facilisis in</li>
								  <li class="list-group-item">Morbi leo risus</li>
								  <li class="list-group-item">Porta ac consectetur ac</li>
								  <li class="list-group-item">Vestibulum at eros</li>
								</ul>
						  </div>
					  </div>
			 	 </div>
			 </div>
			 <div class="row"> 			
				<!-- modal -->

				<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  			<div class="modal-dialog modal-sm" role="document">
		  				<div class="modal-content">
		       				<div class="thumbnail"> 
	       						<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/1-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;"> 
		       						<div class="caption"> 
	       							<h3>Thumbnail label</h3>
	       							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
	       							<p><a href="https://www.facebook.com/sharer/sharer.php?u=LINK_COMPLETO_DA_POSTAGEM_DO_SEU_SITE" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" rel="nofollow">Facebook</a>
	       							<a href="http://twitter.com/share?text=trecho do texto ou descrição de sua postagem aqui&amp;url=LINK_ENCURTADO_DA_POSTAGEM_DO_SEU_SITE" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" rel="nofollow">Twitter</a><a href="https://plus.google.com/share?url=LINK_COMPLETO_DA_POSTAGEM_DO_SEU_SITE" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" rel="nofollow">Google Plus</a></p> 
		       					 </div> 
		       				</div> 
		       			</div>
				  	</div>
				</div>
				<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  			<div class="modal-dialog modal-sm" role="document">
		  				<div class="modal-content">
		       				<div class="thumbnail"> 
	       						<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/2-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;"> 
		       						<div class="caption"> 
	       							<h3>Thumbnail label</h3>
	       							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
	       							<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Saiba Mais</button></p> 
		       					 </div> 
		       				</div> 
		       			</div>
				  	</div>
				</div>
				<div class="modal fade bs-example-modal-sm3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  			<div class="modal-dialog modal-sm" role="document">
		  				<div class="modal-content">
		       				<div class="thumbnail"> 
	       						<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/3-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;"> 
		       						<div class="caption"> 
	       							<h3>Thumbnail label</h3>
	       							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
	       							<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Saiba Mais</button></p> 
		       					 </div> 
		       				</div> 
		       			</div>
				  	</div>
				</div>
				<div class="modal fade bs-example-modal-sm4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  			<div class="modal-dialog modal-sm" role="document">
		  				<div class="modal-content">
		       				<div class="thumbnail"> 
	       						<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/4-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;"> 
		       						<div class="caption"> 
	       							<h3>Thumbnail label</h3>
	       							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
	       							<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Saiba Mais</button></p> 
		       					 </div> 
		       				</div> 
		       			</div>
				  	</div>
				</div>
				<div class="modal fade bs-example-modal-sm5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  			<div class="modal-dialog modal-sm" role="document">
		  				<div class="modal-content">
		       				<div class="thumbnail"> 
	       						<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/5-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;"> 
		       						<div class="caption"> 
	       							<h3>Thumbnail label</h3>
	       							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
	       							<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Saiba Mais</button></p> 
		       					 </div> 
		       				</div> 
		       			</div>
				  	</div>
				</div>
				<div class="modal fade bs-example-modal-sm6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  			<div class="modal-dialog modal-sm" role="document">
		  				<div class="modal-content">
		       				<div class="thumbnail"> 
	       						<img alt="100%x200" data-src="holder.js/100%x200" src="/assets/img/6-blog.png" data-holder-rendered="true" style="height: auto; width: 100%; display: block;"> 
		       						<div class="caption"> 
	       							<h3>Thumbnail label</h3>
	       							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
	       							<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Saiba Mais</button></p> 
		       					 </div> 
		       				</div> 
		       			</div>
				  	</div>
				</div>
			 </div>
			 <div class="row"> 
				<nav aria-label="Page navigation">
				  <ul class="pagination">
				    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
				  </ul>
				</nav>
			 </div>	
		</div>	 
  <footer>
	<div id="footer"></div>
  </footer>
 
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
   <script src="/assets/js/index.js"></script>
   <script src="/assets/js/modulos.js"></script>
 </body>
</html>