<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="/assets/img/favicon.png" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quem Somos | Melhor idade</title>
     <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- APP STYLE -->
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/assets/css/quem-somos.css" rel="stylesheet">
  </head>
  <body>
         <header>
             <div id="menu"></div>
           </header>
           <section class="banner">
             <div id="banner"></div>
           </section>


  <!-- Texto colunado como um jornal. 1a. letra diferente-->
  <article>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age nunc isti doceant, vel tu potius quis enim ista melius? Sed tamen est aliquid, quod nobis non liceat, liceat illis. Quo modo autem philosophus loquitur? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Quae contraria sunt his, malane? Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Itaque his sapiens semper vacabit. </p>
    <p>Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Nihil acciderat ei, quod nollet, nisi quod anulum, quo delectabatur, in mari abiecerat. Faceres tu quidem, Torquate, haec omnia; Claudii libidini, qui tum erat summo ne imperio, dederetur. At iam decimum annum in spelunca iacet. Stoicos roga. Quid enim est a Chrysippo praetermissum in Stoicis? Sed quot homines, tot sententiae; Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum. Te enim iudicem aequum puto, modo quae dicat ille bene noris. </p>
    <p>Ita prorsus, inquam; Duo Reges: constructio interrete. Minime vero, inquit ille, consentit. Quippe: habes enim a rhetoribus; Ergo hoc quidem apparet, nos ad agendum esse natos. Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus refers? </p>
    <p>Quamquam tu hanc copiosiorem etiam soles dicere. Ergo ita: non posse honeste vivi, nisi honeste vivatur? Dic in quovis conventu te omnia facere, ne doleas. Hanc quoque iucunditatem, si vis, transfer in animum; Hoc loco tenere se Triarius non potuit. Si quae forte-possumus. </p>
    <p>Paulum, cum regem Persem captum adduceret, eodem flumine invectio? Maximas vero virtutes iacere omnis necesse est voluptate dominante. Eaedem enim utilitates poterunt eas labefactare atque pervertere. Tu autem negas fortem esse quemquam posse, qui dolorem malum putet. </p>
  </article>
    
            
  <!--vídeo do youtube-->
   <div class="container">
 	<div class="embed-responsive embed-responsive-16by9">
 	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S8GVQ0Sihxw?rel=0?ecver=1"></iframe>
 	</div>
   </div>


<!-- Footer -->
    <footer>
        <div id="footer"></div>
     </footer>
 <!-- Footer -->
 </body>

 <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- APP JS -->
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/modulos.js"></script>
</html>
