<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Melhor Idade SA - Fotos</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/style-fotos.css" rel="stylesheet">
  </head>
  <body>
    <header>

    </header>
    <section class="banner">

    </section>

       <main>
 
            <h1>Fotos</h1>

            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
            
            <!--<section class="colunas gallery clearfix">
                <div class="col-4"><a href="assets/app/img/foto1.jpg" rel="prettyPhoto[gallery1]" title="Galeria de Fotos com compartilhamento melhor idade"><img src="assets/app/img/foto1.jpg" width="100%" height="250" alt="Melhor Idade" /></a></div>
                <div class="col-4"><a href="assets/app/img/foto2.jpg" rel="prettyPhoto[gallery1]" title="Galeria de Fotos com compartilhamento melhor idade"><img src="assets/app/img/foto2.jpg" width="100%" height="250" alt="Melhor Idade" /></a></div>
                <div class="col-4"><a href="assets/app/img/foto3.jpg" rel="prettyPhoto[gallery1]" title="Galeria de Fotos com compartilhamento melhor idade"><img src="assets/app/img/foto3.jpg" width="100%" height="250" alt="Melhor Idade" /></a></div>
                <div class="col-4"><a href="assets/app/img/foto4.jpg" rel="prettyPhoto[gallery1]" title="Galeria de Fotos com compartilhamento melhor idade"><img src="assets/app/img/foto4.jpg" width="100%" height="250" alt="Melhor Idade" /></a></div>
            </section>  -->

            <div class="container mt40">
    <section class="row">

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/assets/img/foto1.jpg" title="Foto1" class="zoom" data-title="Fotos Melhor Idade" data-footer="Foto1" data-type="image" data-toggle="lightbox">
                        <img src="/assets/img/foto1.jpg" alt="Foto1" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Fotos Melhor Idade">Fotos Melhor Idade</a></h4>
                    <span class="pull-right">
                        <i id="like1" class="glyphicon glyphicon-thumbs-up"></i> <div id="like1-bs3"></div>
                        <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike1-bs3"></div>
                    </span>
                </div>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/assets/img/foto1.jpg" title="Foto2" class="zoom" data-title="Fotos Melhor Idade" data-footer="Foto2" data-type="image" data-toggle="lightbox">
                        <img src="/assets/img/foto1.jpg" alt="Foto2" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Fotos Melhor Idade">Fotos Melhor Idade</a></h4>
                    <span class="pull-right">
                      <i id="like2" class="glyphicon glyphicon-thumbs-up"></i> <div id="like2-bs3"></div>
                      <i id="dislike2" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike2-bs3"></div>
                    </span>
                </div>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/assets/img/foto1.jpg" title="Foto3" class="zoom" data-title="Fotos Melhor Idade" data-footer="Foto3" data-type="image" data-toggle="lightbox">
                        <img src="/assets/img/foto1.jpg" alt="Foto3" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Fotos Melhor Idade">Fotos Melhor Idade</a></h4>
                    <span class="pull-right">
                        <i id="like3" class="glyphicon glyphicon-thumbs-up"></i> <div id="like3-bs3"></div>
                        <i id="dislike3" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike3-bs3"></div>
                    </span>
                </div>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/assets/img/foto1.jpg" title="Foto4" class="zoom" data-title="Fotos Melhor Idade" data-footer="Foto4" data-type="image" data-toggle="lightbox">
                        <img src="/assets/img/foto1.jpg" alt="Foto4" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Fotos Melhor Idade">Fotos Melhor Idade</a></h4>
                    <span class="pull-right">
                        <i id="like4" class="glyphicon glyphicon-thumbs-up"></i> <div id="like4-bs3"></div>
                        <i id="dislike4" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike4-bs3"></div>
                    </span>
                </div>
            </div>
        </article>                                            

</section>
</div>
      </main>

  
  <footer>

  </footer>

   <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
  <script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>
  <script src="/assets/app/js/fotos.js"></script>
 </body>
</html>
