<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="/assets/img/favicon.png" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Localização | Melhor Idade SA</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div id="menu"></div>
    </header>
    <section class="banner">
      <div id="banner"></div>
  </section>


<div class="container">
  <div class="row">
    <H1>Localização</H1>
    <p>Vila Mariana, São Paulo - SP</p>
  </div>
  <div class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7312.761075078303!2d-46.63565052999234!3d-23.590681726627615!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a2ba6648ec1%3A0x830e19278f434b35!2sVila+Mariana!5e0!3m2!1spt-BR!2sbr!4v1491259346360" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>


<!-- FOOTER -->
<footer>
  <div id="footer"></div>
</footer>
<!-- END FOOTER -->

   <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
   <script src="/assets/js/BuscaEndereco.js"></script>
   <script src="/assets/js/index.js"></script>
   <script src="/assets/js/modulos.js"></script>
 </body>
</html>
