<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equipe - Melhor Idade SA</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/equipe.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Menu -->
<div class="navbar-wrapper">
<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Melhor Idade SA</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Home</a></li>
                    <li><a href="/quemsomos">Quem somos</a></li>
                    <li><a href="/servicos">Serviços</a></li>
                    <li><a href="/equipe">Equipe</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/noticias">Noticias</a></li>
                    <li><a href="/fotos">Fotos</a></li>
                    <li><a href="/duvidas">Dúvidas</a></li>
                    <li class="dropdown">
                        <a href="/produtos" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produtos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/produto_cadeirarodas">Cadeira de Rodas</a></li>
                            <li><a href="/produto_bengala">Bengalas</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</div>
<!-- Fim do Menu -->
<!--Slider -->
<section class="banner">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="https://i.ytimg.com/vi/B1LPra6iQgQ/maxresdefault.jpg" alt="Chania" width="100%" height="50%">
                <div class="carousel-caption">
                    <h3>Exemplo 1 titulo</h3>
                    <p>Exemplo 1 subtitulo.</p>
                </div>
            </div>

            <div class="item">
                <img src="https://i.ytimg.com/vi/fDCtEaLh8ZE/maxresdefault.jpg" alt="Chania"  width="100%" height="50%">
                <div class="carousel-caption">
                    <h3>Exemplo 2 titulo</h3>
                    <p>Exemplo 2 subtitulo.</p>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</section>
<!-- Fim do Slider -->

<!-- PRODUTO CADEIRA DE RODAS -->


<div class="container marketing">
<br><br>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://www.culturamix.com/wp-content/gallery/um-pouco-de-historia2/um-pouco-de-historia-04.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Cadeira 01</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://www.hypeness.com.br/wp-content/uploads/2015/06/cadeira-interna.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Cadeira 02</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
         
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://f.i.uol.com.br/fotografia/2013/04/19/267036-970x600-1.jpeg" alt="Generic placeholder image" width="140" height="140">
          <h2>Cadeira 03</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Cadeira 01 <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://www.wallpapers76.com/photo/15035/X-Men-First-Class-027.jpg" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Cadeira 02<span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://orig13.deviantart.net/08be/f/2011/158/4/7/charles_xavier_by_chabongz-d3i9f7e.png" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Cadeira 03 <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://www.imagens.usp.br/wp-content/uploads/Untitled-321.jpg" data-holder-rendered="true">
        </div>
      </div>

 

    </div>
	
	
	
	
<!-- FIM PRODUTO -->

<!-- Footer -->
 <footer>
    <!-- COPYRIGHT -->
    <div class="footer-copyright col-xs-12 col-ms-12 col-md-12 col-lg-12">
        <div class="text-center">&copy <span id='year'></span> - Melhor Idade S.A. Todos os Direitos Reservados</div>
    </div>
    <!-- END COPYRIGHT -->

 </footer>
<!-- Fim do Footer -->

<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- APP JS -->
<script src="/assets/js/index.js"></script>
</body>
</html>
