<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="/assets/img/favicon.png" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Melhor Idade SA</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style_admin.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div id="menu_admin"></div>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-md-4 col-lg-4 col-md-offset-4">
          <h1>Serviços</h1>

          <form class="cadastrar-pagina">
            <label for="url">URL</label>
            <input type="text" id="url" class="form-control" placeholder="URL">
            <br />
            <label for="titulo">Título</label>
            <input type="text" id="titulo" class="form-control" placeholder="Título">
            <br />
            <label for="conteudo">Conteúdo</label>
            <textarea id="conteudo" class="form-control" placeholder="Conteúdo"></textarea>
            <button class="btn btn-primary" id="btNoticias">Inserir</button>
          </form>

        </div>
      </div>
    </div>
  <footer>
   <div id="footer"></div>
 </footer>
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
   <script src="/assets/js/index.js"></script>
   <script src="/assets/js/modulos.js"></script>
   <script src="/assets/js/admin.js"></script>
 </body>
</html>
