<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <link id="page_favicon" href="/assets/img/favicon.png" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equipe | Melhor Idade SA</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/equipe.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Menu -->
        <header>
            <div id="menu"></div>
        </header>
    <!-- Fim do Menu -->
    <!-- Slider -->
        <section class="banner">
            <div id="banner"></div>
        </section>
    <!-- Fim do Slider -->

<h1>Equipe</h1>

<div class="container">

    <!-- Três colunas -->
    <div class="row">
        <div class="col-lg-4 caixa-equipe"><!-- /.col-lg-4 -->
            <img class="img-circle" src="/assets/img/equipe/funcionario5.png" alt="Joelma Lima" width="140" height="140">
            <h2>Joelma Lima</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            <!-- Small modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Saiba mais</button>

            <div class="modal fade bs-example-modal-sm" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myLargeModalLabel">Joelma Lima</h4>
                        </div>
                        <div class="modal-body">
                            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 caixa-equipe">
            <img class="img-circle" src="/assets/img/equipe/funcionario.png" alt="Antônio Xavier" width="140" height="140">
            <h2>Antônio Xavier</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit tferfofj ythoiffutjc rtrtp dltrkpk.</p>
            <!-- Small modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Saiba mais</button>

            <div class="modal fade bs-example-modal-sm" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myLargeModalLabel">Antônio Xavier</h4>
                        </div>
                        <div class="modal-body">
                            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 caixa-equipe">
            <img class="img-circle" src="/assets/img/equipe/funcionario3.png" alt="Kauan Freitas" width="140" height="140">
            <h2>Kauan Freitas</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. </p>
            <!-- Small modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Saiba mais</button>

            <div class="modal fade bs-example-modal-sm" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myLargeModalLabel">Kauan Freitas</h4>
                        </div>
                        <div class="modal-body">
                            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 caixa-equipe">
            <img class="img-circle" src="/assets/img/equipe/funcionario6.png" alt="Deborah Freitas" width="140" height="140">
            <h2>Deborah Freitas</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula.</p>
            <!-- Small modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4">Saiba mais</button>

            <div class="modal fade bs-example-modal-sm" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myLargeModalLabel">Deborah Freitas</h4>
                        </div>
                        <div class="modal-body">
                            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 caixa-equipe">
            <img class="img-circle" src="/assets/img/equipe/funcionario2.png" alt="Márcio Ramos" width="140" height="140">
            <h2>Márcio Ramos</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. </p>
            <!-- Small modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal5">Saiba mais</button>

                <div class="modal fade bs-example-modal-sm" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myLargeModalLabel">Márcio Ramos</h4>
                            </div>
                            <div class="modal-body">
                                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-4 caixa-equipe">
            <img class="img-circle" src="/assets/img/equipe/funcionario4.png" alt="Aline Santos" width="140" height="140">
            <h2>Aline Santos</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
            <!-- Small modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal6">Saiba mais</button>

            <div class="modal fade bs-example-modal-sm" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myLargeModalLabel">Aline Santos</h4>
                        </div>
                        <div class="modal-body">
                            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->


    </div><!-- Fim Três Colunas -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <h1>Serviços Prestados</h1>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" alt="500x500" src="/assets/img/equipe/cuidador-de-idosos.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/assets/img/equipe/cuidador-de-idosos-1.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/assets/img/equipe/cuidador-de-idosos-2.jpg" data-holder-rendered="true">
        </div>
    </div>
        <div class="col-md-12">
            <a href="/instalacoes/" class="btn btn-primary btn-lg" role="button">Conheça nossas instalações</a>
        </div>
</div>
<!-- Footer -->
    <footer>
        <div id="footer"></div>
     </footer>
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- APP JS -->
<script src="/assets/js/index.js"></script>
<script src="/assets/js/modulos.js"></script>
</body>
</html>
