<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equipe - Melhor Idade SA</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/equipe.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Menu -->
<div class="navbar-wrapper">
<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Melhor Idade SA</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/quemsomos">Quem somos</a></li>
                    <li><a href="/servicos">Serviços</a></li>
                    <li><a href="/equipe">Equipe</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/noticias">Noticias</a></li>
                    <li><a href="/fotos">Fotos</a></li>
                    <li><a href="/duvidas">Dúvidas</a></li>
                    <li class="dropdown">
                        <a href="/produtos" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produtos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/cadeiraderodas">Cadeira de Rodas</a></li>
                            <li><a href="/bengalas">Bengalas</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</div>
<!-- Fim do Menu -->
<!--Slider -->
<section class="banner">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="http://st.depositphotos.com/1031343/3027/v/950/depositphotos_30273183-stock-illustration-example-stamp.jpg" alt="Chania" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Exemplo 1 titulo</h3>
                    <p>Exemplo 1 subtitulo.</p>
                </div>
            </div>

            <div class="item">
                <img src="http://st.depositphotos.com/1031343/3027/v/950/depositphotos_30273183-stock-illustration-example-stamp.jpg" alt="Chania" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Exemplo 2 titulo</h3>
                    <p>Exemplo 2 subtitulo.</p>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</section>
<!-- Fim do Slider -->

<h1>Equipe</h1>

<div class="container marketing">

    <!-- Três colunas -->
    <div class="row">
        <div class="col-lg-4"><!-- /.col-lg-4 -->
            <img class="img-circle" src="/assets/img/equipe/funcionario5.png" alt="Joelma Lima" width="140" height="140">
            <h2>Joelma Lima</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>

        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="/assets/img/equipe/funcionario.png" alt="Antônio Xavier" width="140" height="140">
            <h2>Antônio Xavier</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>

        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="/assets/img/equipe/funcionario3.png" alt="Kauan Freitas" width="140" height="140">
            <h2>Kauan Freitas</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="/assets/img/equipe/funcionario6.png" alt="Deborah Freitas" width="140" height="140">
            <h2>Deborah Freitas</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>

        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="/assets/img/equipe/funcionario2.png" alt="Márcio Ramos" width="140" height="140">
            <h2>Márcio Ramos</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>

        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="/assets/img/equipe/funcionario4.png" alt="Aline Santos" width="140" height="140">
            <h2>Aline Santos</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

        </div><!-- /.col-lg-4 -->


    </div><!-- Fim Três Colunas -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <h1>Serviços Prestados</h1>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" alt="500x500" src="/assets/img/equipe/cuidador-de-idosos.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/assets/img/equipe/cuidador-de-idosos-1.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/assets/img/equipe/cuidador-de-idosos-2.jpg" data-holder-rendered="true">
        </div>
    </div>

    <p><a class="btn btn-default" href="#" role="button">Conheça nossas instalações</a></p>
</div>
<!-- Footer -->
    <footer>
    <!-- COPYRIGHT -->
    <div class="footer-copyright col-xs-12 col-ms-12 col-md-12 col-lg-12">
        <div class="text-center">&copy <span id='year'></span> - Melhor Idade S.A. Todos os Direitos Reservados</div>
    </div>
    <!-- END COPYRIGHT -->
<!-- Fim do Footer -->
    </footer>
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- APP JS -->
<script src="/assets/js/index.js"></script>
</body>
</html>
