<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <link id="page_favicon" href="/assets/img/favicon.png" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Melhor Idade Sa</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP STYLE -->
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div id="menu"></div>
    </header>
    <section class="banner">
      <div id="banner"></div>
  </section>


    <div class="col-xs-6 col-md-4">
        <p><img class="caption" src="/images/stories/demo/living-clinica-geriatrica-sp-alphaville.jpg" border="0" alt="Living - Solar Ville" align="left"></p>
        <h3><span>Atrium</span></h3>
        <p>Pé direito de 5 andares com muita luminosidade, entre plantas e jardins...</p>
        <p><a href="#" title="Living - Solar Ville">+ Leia mais...</a></p>
    </div>

    <div class="col-xs-6 col-md-4">
        <p><img class="caption" src="/images/stories/demo/biblioteca-casa-de-repouso-sp.jpg" border="0" alt="Biblioteca - Solar Ville" align="left"></p>
        <h3>Biblioteca</h3>
        <p>Nossa biblioteca possui um acervo de 3000 livros, revistas, principais jornais...</p>
        <p><a href="#" title="Fitness">+ Leia mais...</a></p>
    </div>

    <div class="col-xs-6 col-md-4">
        <p><img class="caption" src="/images/stories/demo/salao-de-jogos-casa-de-repouso-sp-alphaville.jpg" border="0" alt="Salão de Jogos - Sollar Ville Casa de Repouso SP Alphaville" align="left"></p>
        <h3>Salão de Jogos</h3>
        <p>Para quem gosta de tranca, buraco, xadrez, damas, dominó, entre outros...</p>
        <p><a href="#" title="Salão de Jogos">+ Leia mais...</a></p>
     </div>

    <div class="col-xs-6 col-md-4">
        <p><img class="caption" src="/images/stories/demo/lazer-clinica-geriatrica-sp-alphaville.jpg" border="0" alt="Fitness - Solar Ville" align="left"></p>
        <h3>Fitness</h3>
        <p>Piscina aquecida, sauna, hidromassagem e equipamentos...</p>
        <p><a href="#" title="Fitness - Solar Ville">+ Leia mais...</a></p>
    </div>

    <div class="col-xs-6 col-md-4">
        <p><img class="caption" src="/images/stories/demo/salao-de-beleza-terceira-idade-sp.jpg" border="0" alt="Salão de Beleza" align="left"></p>
        <h3>Salão de Beleza</h3>
        <p>Para nossos hóspedes ficarem nos "trinks" em nossos eventos...</p>
        <p><a href="#" title="Salão de Beleza">+ Leia mais...</a></p>
    </div>

    <div class="col-xs-6 col-md-4">
        <p><img class="caption" src="/images/stories/demo/varandas-casa-de-repouso-sp-alphaville.jpg" border="0" alt="Varandas - Solar Ville Casa de repouso terceira idade" align="left"></p>
        <h3>Varandas</h3>
        <p>Seis grandes espaços voltados para o norte, de frente para muito verde...</p>
        <p><a href="/infraestrutura/varandas-panoramicas.html" title="Varandas">+ Leia mais... </a></p>
    </div>


    <div class="col-xs-6 col-md-4">
         <p><img class="caption" src="/images/stories/demo/cinema-casa-de-repouso-sp.jpg" border="0" alt="Cinema" align="left"></p>
        <h3>Cinema</h3>
        <p>Equipado com som "dolby sorround" e poltronas aconchegantes tem...</p>
        <p><a href="#" title="Cinema">+ Leia mais...</a></p>
    </div>

    <div class="col-xs-6 col-md-4">
        <p><img class="caption" src="/images/stories/demo/laborterapia-casa-de-repouso-sp.jpg" border="0" alt="Laborterapia" align="left"></a></p>
        <h3>Laborterapia</h3>
        <p>Aqui, nossos professores dão aulas de arte, pintura, crochê, costura...</p>
        <p><a href="#" title="Cinema">+ Leia mais...</a></p>
    </div>

    <div class="col-xs-6 col-md-4">
        <p><img class="caption" src="/images/stories/demo/espaco-ecumenico-casa-de-repouso-sp-barueri.jpg" border="0" alt="Espaço Ecumênico" align="left"></a></p>
        <h3>Espaço Ecumênico</h3>
        <p>Para momentos de renovação espiritual, meditação, fé, devoção...</p>
        <p><a href="/espaco-ecumenico.html" title="Espaço Ecumênico">+ Leia mais...</a></p>
    </div>


<!-- FOOTER -->
<footer>
  <div id="footer_home"></div>
</footer>
<!-- END FOOTER -->

   <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
   <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- APP JS -->
   <script src="/assets/js/BuscaEndereco.js"></script>
   <script src="/assets/js/index.js"></script>
   <script src="/assets/js/modulos.js"></script>
 </body>
</html>
